.row {
  margin-left: 0px;
  margin-right: 0px; }

#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%; }

#sidebar-wrapper {
  margin-left: -150px;
  left: 70px;
  width: 150px;
  background: #003e7d;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s; }

.sidebar-nav {
  display: block;
  float: left;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0; }

#wrapper.active {
  padding-left: 150px; }

#wrapper.active #sidebar-wrapper {
  left: 150px; }

.active #sidebar-top {
  padding-top: 5px;
  margin-bottom: 29px; }
  .active #sidebar-top .logo-span {
    font-weight: bold;
    color: white;
    font-size: 19px;
    margin-left: 50px; }
  .active #sidebar-top a {
    vertical-align: middle;
    color: white;
    padding-right: 17px;
    padding-top: 0px;
    font-size: 20px; }

#sidebar-top {
  margin-top: 30px; }
  #sidebar-top .logo-span {
    font-weight: bold;
    color: white;
    font-size: 22px;
    margin-left: 92px; }
  #sidebar-top a {
    padding-top: 25px;
    padding-bottom: 35px;
    vertical-align: middle;
    color: white;
    padding-right: 17px;
    font-size: 40px; }

.sidebar-nav li a {
  color: white;
  display: block;
  float: left;
  text-decoration: none;
  width: 150px;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s; }

.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7; }

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px; }

.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none; }

#sidebar > li a:hover {
  color: #fff;
  background: rgba(255, 0, 67, 0.8);
  text-decoration: none;
  border-left: 5px solid white; }

#sidebar > li a:active,
#sidebar > li a:focus {
  text-decoration: none;
  background-color: #ff0043; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: white;
  background: none; }

.sub_icon {
  font-size: 30px;
  padding-left: 58px;
  padding-top: 10px; }

.content-header {
  height: 65px;
  line-height: 65px; }

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block; }

#sidebar_menu {
  margin: 10px 0; }

#user-photo img {
  display: block;
  margin: 0 auto;
  border: 5px solid #009ae5;
  border-radius: 100%;
  padding: 5px; }

#show-info {
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: white;
  background-color: #001a54;
  padding: 5px 10px;
  height: 28px;
  text-align: center;
  width: 70%;
  margin: 18px auto; }

.active .sub_icon {
  font-size: 15px;
  float: right;
  padding-right: 15px;
  padding-top: 10px;
  padding-left: 0; }

#sidebar > li {
  text-align: left; }

.container-fluid {
  padding: 0; }

#main-content {
  background-color: #e9eef1;
  padding-bottom: 30px; }

#header {
  padding: 20px; }

.sublist {
  margin-left: 30px;
  color: white;
  border-left: 2px solid #0085cd; }
  .sublist li {
    list-style: none;
    text-indent: 10px; }

.sublist-hidden {
  display: none; }

.brand-name {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 0; }

.user-logo {
  border-radius: 50%;
  border: 7px solid white;
  width: 140px;
  height: 140px;
  margin-top: 50px; }

.blue-text {
  color: #003e7d;
  font-size: 16px; }

.blue-form {
  border: 3px solid #003e7d;
  border-radius: 10px;
  margin-top: 50px; }
  .blue-form #input1 {
    text-align: center;
    border: none;
    border-bottom: 1px solid #009ae5;
    border-radius: 10px 10px 0 0;
    height: 65px;
    font-size: 25px; }
  .blue-form #input2 {
    text-align: center;
    border: none;
    border-top: 1px solid #009ae5;
    border-radius: 0 0 10px 10px;
    height: 50px;
    font-size: 24px; }

label {
  margin-top: 10px;
  font-weight: 100; }

.btn {
  margin-bottom: 38px;
  background-color: #ff0043;
  color: white;
  width: 60%;
  height: 60px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 30px; }
  .btn:hover, .btn:active, .btn:focus, .btn:visited {
    color: white;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(245, 29, 69, 0.75);
    -moz-box-shadow: 0px 0px 15px 3px rgba(245, 29, 69, 0.75);
    box-shadow: 0px 0px 15px 3px rgba(245, 29, 69, 0.75);
    outline: none; }

.form-group a {
  margin: 30px 0; }

::-webkit-input-placeholder {
  text-align: center;
  font-weight: bold; }

::-moz-placeholder {
  text-align: center;
  font-weight: bold; }

input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #ccc; }
  .control:hover input ~ .control__indicator, .control input:focus ~ .control__indicator {
    background: #CCCCCC; }
  .control input:checked ~ .control__indicator {
    background: #2AA1C0; }
  .control:hover input:not([disabled]):checked ~ .control__indicator, .control input:checked:focus ~ .control__indicator {
    background: #0E647D; }
  .control input:disabled ~ .control__indicator {
    background: #E6E6E6;
    opacity: 0.6;
    pointer-events: none; }
  .control__indicator:after {
    content: "";
    position: absolute;
    display: none; }
    .control input:checked ~ .control__indicator:after {
      display: block; }
    .control--checkbox .control__indicator:after {
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid #FFFFFF;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }
    .control--checkbox input:disabled ~ .control__indicator:after {
      border-color: #7B7B7B; }

@media (min-width: 992px) {
  #full-page-image {
    background-image: url("../images/welcome-background.png");
    background-size: 1200px 680px;
    background-repeat: no-repeat; }

  .brand-name {
    color: white; } }
#top-navigation {
  margin-top: 10px; }
  #top-navigation a span {
    font-size: 25px; }
  #top-navigation a {
    padding-left: 25px; }

input {
  outline: none; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%; }

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; }

input[type=search] {
  background: white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 60%;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

input[type=search]:focus {
  width: 100%;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5); }

input:-moz-placeholder {
  font-weight: bold;
  color: #999; }

input:-webkit-input-placeholder {
  font-weight: bold;
  color: #999; }

.news-item {
  background-color: white;
  border-radius: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 10px;
  margin: 2px;
  color: #8f9dab; }
  .news-item .datetime {
    font-size: 16px; }
  .news-item .news-image {
    padding-left: 12%; }
  .news-item .news {
    padding-left: 2.8%; }
  .news-item .news-title {
    margin: 0px;
    font-size: 24px;
    font-weight: bold; }
  .news-item .news-content {
    font-size: 18px; }
  .news-item .pink-link {
    color: #ff0043;
    font-size: 18px; }

.padding-0 {
  padding-left: 0;
  padding-right: 0; }

/*# sourceMappingURL=main.css.map */
